@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["LockedOutHeader"];
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger"> @Localizer["LockedOutMessage"]</p>
</header>
