@model IndexViewModel
@{
    ViewData["Title"] = "Profile";
    ViewData.AddActivePage(ManageNavPages.Index);
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        <form enctype="multipart/form-data" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Email" class="form-control" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Email" class="form-control" />
                    <button asp-action="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                }
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfilePhoto" style="width: 100%;"></label>
                                @if (Model.ProfilePhoto != null)
                                {
                                    <img id="profilePhoto" style="width:350px;height:350px; object-fit:cover" src="@Model.ProfilePhoto">
                                }
                                else
                                {
                                    <img id="profilePhoto" style="width:350px;height:350px; object-fit:cover" src="~/images/avatars/user.png">
                                }
                         
                                <label asp-for="ProfilePhoto"></label>
                                @* <form enctype="multipart/form-data" method="post"> *@
                                    <dl>
                                        <dt>
                                            <label asp-for="FormFile"></label>
                                        </dt>
                                        <dd>
                                            <input asp-for="FormFile" type="file">
                                            <span asp-validation-for="FormFile"></span>
                                        </dd>
                                    </dl>
                                    @* <input type="submit"/> *@
                                    @* <input asp-page-handler="Upload" class="btn" type="submit" value="Upload" /> *@
                                @* </form> *@
                @* <input asp-for="ProfilePhoto" type="file" accept=".png,.jpg,.jpeg,.gif,.tif" class="form-control" style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;" *@
                @*        onchange="document.getElementById('ProfilePhoto').src = (window.URL || window.webkitURL).URL.createObjectURL(this.files[0].path)"> *@
                                @* <span asp-validation-for="ProfilePhoto" class="text-danger"></span> *@
                                @* <form enctype="multipart/form-data" method="post"> *@
                                @*     <input asp-for="FileUpload.FormFile" type="file"> *@
                                @*      <span asp-validation-for="FileUpload.FormFile"></span> *@
                                @*     $1$ <input type="file" name="file" asp-action="Upload"/> #1# *@
                                @*     $1$ <input type="submit"/> #1# *@
                                @* </form> *@
            </div>
            
            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
